@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    letter-spacing: 0.5px;
    word-spacing: 3px;
    font-family: 'Noto Sans KR', sans-serif;
}

.App {
    width : 100%;
    min-height : 100vh;
}